<div class="bg-white shadow-md border rounded-xl p-6 flex gap-4 items-center">
  <img [src]="product().image" class="w-[50px] h-[50px] object-contain" alt="" />
  <div class="flex flex-col">
    <span class="text-md font-bold">{{product().title}}</span>
    <span class="text-sm"> {{ '$' + product().price }}</span>
    <span class="text-sm"> {{ 'Qty: ' + product().quantity }}</span>
  </div>
  <div class="flex-1"></div>
  <app-button label="Remove" (btnClicked)="cartService.removeFromCart(product().id)" />
</div>
